/**
    create by wangzili on 2018/1/21
 */

html, body{
    height: 100%;
    font-size: 20px;  /* 设置根字体大小，下文使用rem */
}

.app{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 37.5rem;
    width: 100%;
    height: 100%;
}

.app-bg{
    background: url("../images/bg.jpg") no-repeat center bottom #F3F4F6;
    background-size: 100% auto;
}

.main{
    flex: 1;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

/***********
 * 底部导航
 */

.foot{
    height: 3.75rem;
    /*box-shadow: 0 0 5px rgba(0, 0, 0, .2);*/
    /*background-color: #FFF;*/
}

.page-tabs{
    display: flex;
}

.page-tab{
    position: relative;
    flex: 1;
    padding: .8rem .75rem;
    text-align: center;
    font-size: .7rem;
    text-decoration: none;
    color: #666;
}

.page-tab:not(:last-child)::after{
    content: '';
    position: absolute;
    right: 0;
    top: .8rem;
    bottom: .8rem;
    border-left: 1px solid #CCC;
    border-right: 1px solid #FFF;
}

.page-tab .icon{
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.page-tab-1 .icon{
    background-image: url("../images/icon-tab-1.png");
}

.page-tab-2 .icon{
    background-image: url("../images/icon-tab-2.png");
}

.page-tab-3 .icon{
    background-image: url("../images/icon-tab-3.png");
}

.page-tab.on{
    color: #f16b33;
}

.page-tab.on .icon{
    background-position: 0 -25px;
}

/* foot end */


/***********
 * 顶部导航
 * 左侧回退按钮/右侧下拉/中间搜索
 */

.topnav{
    position: relative;
    height: 2rem;
    /*border-bottom: 1px solid #a3a3a3;*/
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    background-color: #FFF;
}

.topnav-title{
    line-height: 2rem;
    font-size: .75rem;
    text-align: center;
    font-weight: 700;
}

.topnav-left{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    padding: .5rem;
}

.topnav-left .btn-back{
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background: url("../images/icon-back.png") no-repeat;
    background-size: 100% auto;
}

.topnav-right{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

.topnav .menu{
    padding: .5rem;
    width: 1.25rem;
    height: 1.25rem;
}

.topnav .btn-menu{
    display: inline-block;
    width: 100%;
    height: 100%;
    background: url("../images/icon-menu.png") no-repeat;
    background-size: 100% auto;
}

.topnav .menu .dropdown{
    padding: .5rem .65rem 1rem;
    margin: 0;
    list-style: none;
    position: absolute;
    top: 2.25rem;
    right: .5rem;
    background-color: #000;
    opacity: .4;
    transform: scale(0);
    transition: all .3s ease-out;
    transform-origin: top right;
}

.topnav .menu .dropdown.show{
    transform: scale(1);
}

.topnav .menu .dropdown a{
    display: block;
    padding: .6rem;
    font-size: .65rem;
    color: #FFF;
    border-bottom: 1px dashed #FFF;
    text-decoration: none;
    white-space: nowrap;
}

.topnav .btn-text{
    padding: 0 .5rem;
    height: 100%;
    line-height: 2rem;
    font-size: .7rem;
    color: #EF6A32;
}

.topnav-input{
    position: relative;
    margin: .45rem auto;
    padding: 0 1.65rem 0 .65rem;
    width: 50%;
    height: 1.3rem;
    line-height: 1.1rem;
    border: 1px solid #5c5277;
    border-radius: .65rem;
}

.topnav-input .input{
    padding: 0;
    width: 100%;
    height: 1.3rem;
    line-height: 1.3rem;
    border: 0;
    outline: none;
    font-size: .65rem;
}

.topnav-input .btn-search{
    position: absolute;
    top: .15rem;
    right: .65rem;
    padding: 0;
    width: 1rem;
    height: 1rem;
    border: 0;
    background: url("../images/icon-find.png") no-repeat;
    background-size: 100% auto;
}

/* 图片自适应 */
img{
    width: 100%;
    height: auto;
    vertical-align: middle;
}

/* loading */
.loading{
    padding: 1rem 0;
    text-align: center;
    font-size: .6rem;
    color: #ccc;
}

.loading img{
    width: 2.5rem;
}

/* 弹窗遮罩层 */
.mask{
    z-index: 999;
    position: fixed;
    left: 0;
    right:0;
    top: 0;
    bottom:0;
    display: none;
    background-color: rgba(0, 0, 0, .5);
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.popbox{
    z-index: 9999;
    position: absolute;
    left: .75rem;
    right: .75rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: .85rem;
    height: 40rem;
    border-radius: .5rem;
    background-color: #FFF;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transition: all ease-out .5s;
    -webkit-transition: all ease-out .5s;
    -moz-transition: all ease-out .5s;
    -o-transition: all ease-out .5s;
    transform-origin: 50% 20%;
    -webkit-transform-origin: 50% 20%;
    -moz-transform-origin: 50% 20%;
    -o-transform-origin: 50% 20%;
}

.popbox.show{
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
}

.popbox .close{
    position: absolute;
    right: .5rem;
    top: .5rem;
    width: 1rem;
    height: 1rem;
    background: url("../images/icon-close.png") no-repeat 50% 50%;
    background-size: 100% auto;
}

/* 条目 */
.cells{
    margin: .5rem 0;
    /*border-top: 1px solid #aea5c7;*/
    /*border-bottom: 1px solid #aea5c7;*/
    background-color: #FFF;
    box-shadow: 0 0 3px rgba(0, 0, 0, .1);
}

.cell{
    position: relative;
    display: flex;
    flex-direction: row;
    padding: .6rem .8rem;
    font-size: .7rem;
    line-height: 1.1rem;
    text-decoration: none;
}

.cell:not(:last-child)::after{
    content: "";
    position: absolute;
    left: .8rem;
    right: .8rem;
    bottom: 0;
    height: 1px;
    background-color: #d4cfe3;
}

.cell .label{
    flex: 1;
    padding: 0 .4rem;
    color:#333;
}

.cell .label .icon{
    display: inline-block;
    margin-right: .5rem;
    width: 1rem;
    height: 1rem;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 0 -1rem;
    vertical-align: middle;
}

.cell.user .label .icon{
    background-image: url("../images/icon-tab-3.png");
}

.cell.invoice .label .icon{
    background-image: url("../images/icon-tab-2.png");
}

.cell.pay .label .icon{
    background-image: url("../images/icon-tab-1.png");
}

.cell .state{
    color:#333;
}

.cell .arrow {
    margin-left: .5rem;
    width: 1rem;
}

.cell-input.cell .label{
    flex: none;
    min-width: 2.8rem;
}

.cell-input.cell .input{
    flex: 1;
    padding: 0 1rem;
}

.cell-input.cell input{
    padding: 0;
    border: 0;
    background-color: transparent;
    outline: none;
}

.cell .al-toggle-button{
    margin-top: -3px;
}

/* 表单 */
.form{
    margin: 0 1rem;
}

.form-item{
    position: relative;
    margin: 1.4rem 0;
}

.form-label{
    margin: .2rem;
    font-size: .65rem;
}

.form-row{
    display: flex;
}

.form-input{
    flex: 1;
    padding: 0 .8rem;
    border: 1px solid #bbb;
    border-radius: .9rem;
    background-color: #fff;
}

.form-input input{
    padding: .35rem 0;
    width: 100%;
    height: 1rem;
    line-height: .9rem;
    font-size: .65rem;
    border: 0;
    background-color: transparent;
    outline: none;
}

.form-img-code{
    width: 4.5rem;
    text-align: right;
}

.form-img-code img{
    width: auto;
    height: 1.6rem;
}

.form-tel-code{
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1rem;
    height: 1.8rem;
    line-height: 1.8rem;
    font-size: .6rem;
}

.form .form-btns{
    margin-top: 2rem;
}

.form-btns{
    display: flex;
}

.form-btns .btn{
    flex: 1;
    margin: 0 1rem;
    height: 1.8rem;
    line-height: 1.8rem;
    font-size: .65rem;
    text-align: center;
    border-radius: .9rem;
    text-decoration: none;
    box-shadow: 3px 3px 5px rgba(0, 0,0,.2);
}

.form-btns .btn-primary{
    color:#fff;
    background: linear-gradient(to right, #F5A544 , #F26B33);
}

.form-btns .btn-minor{
    color:#F26B33;
    border: 1px solid #F26B33;
    background: #fff;
}

.form-error{
    position: absolute;
    left: .5rem;
    bottom: -1rem;
    font-size: .6rem;
    color:#ec0000;
}

/* 注册 */
.registry-container{
    padding: .45rem 0;
}

.info-container .form-btns{
    margin-top: 2rem;
}

.success-container{
    padding-top: 1.6rem;
    text-align: center;
}

.success-container .icon{
    width: 2.75rem;
}

.success-container h2{
    margin-top: 1rem;
    font-size: .9rem;
}

.success-container p{
    padding: 0 1.5rem;
    line-height: 1.2rem;
    font-size: .7rem;
}

.success-container .form-btns{
    margin: 2.2rem 1.2rem;
}

.pay-container{
    padding-top: .8rem;
}

.pay-amount{
    padding: 1rem .7rem;
    font-size: .7rem;
}

.pay-amount .amount{
    margin-top: 1rem;
}

.pay-amount .amount .icon{
    display: inline-block;
    margin-right: .5rem;
    width: .85rem;
    height: .85rem;
    background: url("../images/icon-select.png") no-repeat 0 -.85rem;
    background-size: 100% auto;
    vertical-align: middle;
}

.bank-container{
    padding: 1rem;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    text-align: justify;
    background-color:#FFF;
}

.bank-container p{
    margin-top: 0;
    font-size: .65rem;
    line-height: 1.1rem;
}

.pay-type{
    padding: .5rem 1rem .8rem;
    font-size: .65rem;
}

.pay-type p{
    margin: .7rem 0;
}

.pay-type span{
    color: #c00;
}

.pay-type .icon{
    margin-right: .35rem;
    width: 1rem;
    height: 1rem;
}

/* 发票 */
.no-invoice{
    padding-top: 2rem;
    text-align: center;
    font-size: .7rem;
}

.no-invoice img{
    margin-bottom: .5rem;
    width:7.5rem;
}

.invoice-state-container .tip{
    padding: .9rem 1rem;
    font-size: .6rem;
    text-align: center;
    color: #999;
}

.invoice-state{
    margin-top: .5rem;
    padding: 1.3rem 0;
    border-top: 1px solid #d4cfe3;
    border-bottom: 1px solid #d4cfe3;
    background: #FFF;
}

.invoice-state p{
    margin: 1rem 1.3rem 0;
    font-size: .7rem;
}

.invoice-step{
    position: relative;
    display: flex;
}

.invoice-step .step{
    position: relative;
    flex: 1;
    text-align: center;
    font-size: .7rem;
    color: #f06a33;
}

.invoice-step img{
    margin-bottom: .65rem;
    width: 1.1rem;
}

.invoice-step .step:not(:first-child)::before{
    content: '';
    position: absolute;
    top: .5rem;
    left: 0;
    width: 50%;
    border-top: 1px solid #f06a33;
}



.invoice-step .step:not(:last-child)::after{
    content: '';
    position: absolute;
    top: .5rem;
    left: 50%;
    width: 50%;
    border-top: 1px solid #f06a33;
}

.invoice-step .step.pass{
    opacity: .5;
}

.invoice-info{
    margin-top: .5rem;
    padding: .5rem;
    border-top: 1px solid #d4cfe3;
    border-bottom: 1px solid #d4cfe3;
    background: #FFF;
}

.invoice-info h2{
    margin-bottom: 1rem;
    font-size: .75rem;
}

.invoice-info .icon{
    margin-right: .3rem;
    width: 1rem;
}

.invoice-info p{
    font-size: .7rem;
}

.invoice-info span{
    float: right;
    margin-right: 3rem;
    color: #666;
}

/* 卡片 */
.cards{
    padding: 1rem .5rem;
}

.card{
    position: relative;
    margin: .7rem 0;
    padding: 0 .8rem 0 1.5rem;
    font-size: .7rem;
    border-radius: .3rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    background-color:#FFF;
}

.card-hd,
.card-bd{
    height: 2.3rem;
    line-height: 2.3rem;
}

.card-hd{
    border-bottom: 1px solid #ddd;
}

.card-bd{
    text-align: right;
}

.card-edit{
    position: absolute;
    right: .8rem;
    top: 0;
    height: 2.3rem;
    line-height: 2.3rem;
}

.card-tag{
    position: absolute;
    left: 1.5rem;
    bottom: .7rem;
    padding: 0 .4rem;
    height: 1rem;
    line-height: 1rem;
    border-radius: .6rem;
    font-size: .6rem;
    color: #fff;
    background-color: #EF6A32;
}

.card-select{
    position: absolute;
    left: .25rem;
    top: 50%;
    margin-top: -.5rem;
    /*width: 1rem;*/
    /*height: 1rem;*/
    /*background: url("../images/icon-select.png") no-repeat;*/
    /*background-size: cover;*/
}

.card.selected .card-select{
    background-position: 0 -1rem;
}

/* 发票信息 */
.invoice-container{
    padding-bottom: 1rem;
}


/* 仿ios按钮效果 */
.al-toggle-button{
    appearance: none;
    -webkit-appearance: none;
    position: relative;
    width: 52px;
    height: 26px;
    background: #dfdfdf;
    border-radius: 13px;
    border: 1px solid #dfdfdf;
    outline: 0;
    box-sizing: border-box;
    vertical-align: middle;
}
.al-toggle-button:checked{
    border-color: #F06A34;
    background-color: #F06A34;
}
.al-toggle-button:before, .al-toggle-button:after{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    border-radius: 12px;
    transition: transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    -webkit-transition: -webkit-transform 0.3s;
}
.al-toggle-button:before{
    width: 50px;
    background-color: #fdfdfd;
}
.al-toggle-button:after{
    width: 24px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}
.al-toggle-button:checked:before{
    transform: scale(0);
    -webkit-transform: scale(0);
}
.al-toggle-button:checked:after{
    transform: translateX(26px);
    -webkit-transform: translateX(26px);
}

/* radio美化 */
.radio{
    display: inline-block;
    position: relative;
    line-height: 18px;
    margin-right: 1.5rem;
    cursor: pointer;
}
.radio input{
    display: none;
}
.radio .radio-bg{
    display: inline-block;
    height: 18px;
    width: 18px;
    margin-right: 5px;
    padding: 0;
    background-color: #F06A34;
    border-radius: 100%;
    vertical-align: top;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1) inset, 0 1px 4px rgba(0, 0, 0, 0.1) inset, 1px -1px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s ease;
}
.radio .radio-on{
    display: none;
}
.radio input:checked + span.radio-on{
    width: 10px;
    height: 5px;
    position: absolute;
    /*border-radius: 100%;*/
    /*background: #FFFFFF;*/
    top: 4px;
    left: 3px;
    /*box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.3), 0 0 1px rgba(255, 255, 255, 0.4) inset;*/
    /*background-image: linear-gradient(#ffffff 0, #e7e7e7 100%);*/
    border-left: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    transform: scale(0, 0) rotate(-45deg);
    transition: all 0.2s ease;
    transform: scale(1, 1) rotate(-45deg);
    display: inline-block;
}


/* 新增发票 */
.addinvoice-container{
    padding-bottom: 1.75rem;
}

.addinvoice-container .tip{
    margin: .8rem 0 1.5rem;
    padding: 0 1.35rem;
    font-size: .6rem;
    line-height: 1rem;
    text-align: justify;
    color: #999;
}

/* 过度页 */
.index{
    padding-bottom: 1rem;
}

.index-bg{
    overflow: hidden;
    background: linear-gradient(#FFF, #8dc3ee);
}

.index-logo{
    margin: 1.5rem auto 0;
    padding-top: 1.25rem;
    max-width: 16.25rem;
    width: 80%;
    font-size: .7rem;
    line-height: 1rem;
    text-align: center;
    background: url("../images/img-index-1.png") no-repeat center top;
    background-size: 100% 100%;
}

.index-logo .logo{
    width: 8.5rem;
}

.index-logo p{
    margin: 0;
    padding: .9rem 1.6rem;
    text-align: justify;
}

.index-text{

    margin: 0 auto;
    max-width: 16.25rem;
    width: 80%;
    font-size: .7rem;
    line-height: 1rem;
    text-align: center;
    background: linear-gradient(#f3f9fd, #fff);

}

.index-text p{
    margin: 0;
    padding: .9rem 1.6rem;
    text-align: justify;
}

.btn-go{
    border-top: 1px solid #999;

}

.btn-go a{
    display: block;
    padding: .5rem 0;
    font-size: .8rem;
    text-align: center;
    background-color: #f4f4f4;
    text-decoration: none;
    color:#333;
}

.btn-go .icon{
    margin-right: .5rem;
    width: 2.5rem;
    vertical-align: middle;
}